* {
  padding: 0%;
  margin: 0%;
  box-sizing: 0%;
}

body {
  background-image: url(../assets/1inicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: rgba(0, 0, 0, 0.711);
  width: 100%;
  height: 55px;
  top: 0;
  display: flex;
  justify-content: space-between;
}
header .section {
  color: white;
  display: flex;
}
header .section-uno img {
  display: flex;
  width: 40px;
  padding: 5px;
}
header .section-dos img {
  width: 100px;
  margin-left: 5px;
  margin-top: 15px;
}
header nav a {
  color: white;
  font-family: couture;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 10px;
}
header nav ul {
  list-style: none;
  margin-top: 18px;
}

.section-tres {
  background-color: hsla(0, 0%, 0%, 0.801);
  height: 60%;
  width: 50%;
  border-radius: 25px;
  margin: 100px 50px 60px 100px;
  position: fixed;
}
.section-tres h1 {
  color: white;
  font-size: 200%;
  font-family: heavitas;
  padding-top: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  display: flex;
}
.section-tres h2 {
  font-family: couture;
  color: white;
  margin-top: 30px;
  display: flex;
  padding-left: 20px;
}
.section-tres a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 60px;
  margin-top: 40px;
  height: 50px;
  width: 300px;
  border-radius: 15px;
  font-family: couture;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

footer {
  background-color: hsla(0, 0%, 0%, 0.711);
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
footer .section-2 {
  display: flex;
  align-items: flex-end;
}
footer .section-2 .section-cuatro img {
  width: 40px;
  padding: 5px;
  display: flex;
}
footer .section-2 .section-cinco img {
  width: 100px;
  margin-bottom: 15px;
  display: flex;
}
footer .section-3 {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding-right: 15px;
}
footer .section-3 img {
  width: 40px;
  margin-bottom: 6px;
}
footer .section-3 h3 {
  color: white;
  font-family: eunomia;
  margin-bottom: 20px;
}

/*iniciosesion
*/
.section-4 {
  background-color: hsla(0, 0%, 0%, 0.801);
  height: 60%;
  width: 50%;
  border-radius: 25px;
  margin: 100px 50px 60px 100px;
  position: fixed;
}
.section-4 h1 {
  font-family: heavitas;
  color: white;
  font-size: 200%;
  padding-left: 5px;
  margin-top: 55px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.section-4 h2 {
  font-family: couture;
  color: white;
  padding-left: 5px;
  padding-top: 25px;
  padding-bottom: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.section-4 .section-once {
  font-family: eunomia;
  font-size: 25px;
  color: white;
  padding-left: 5px;
  margin-right: 33px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.section-4 .section-doce {
  font-family: eunomia;
  font-size: 25px;
  color: white;
  padding-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.section-4 .section-trece a {
  background-color: rgb(255, 255, 255);
  position: absolute;
  font-family: couture;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border-radius: 15px;
  left: 350px;
  height: 50px;
  width: 250px;
}
.section-4 .section-trece-2 a {
  font-family: couture;
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "cuadrado1 none none cuadrado2";
}
.grid .section-6 {
  background-color: hsla(0, 0%, 0%, 0.801);
  height: 60vh;
  width: 90vh;
  border-radius: 25px;
  margin: 120px 50px 60px 100px;
  grid-area: cuadrado1;
}
.grid .section-6 div {
  font-family: eunomia;
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.grid .section-6 h1 {
  font-family: heavitas;
  font-size: 50px;
  color: white;
  margin-top: 15px;
  padding: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.grid .section-6 h2 {
  font-family: couture;
  font-size: 30px;
  color: white;
  padding: 5px;
  margin-left: 25px;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
}
.grid .section-6 h4 {
  font-family: couture;
  color: white;
  margin: 5px;
  margin-top: 65px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.grid .section-quince {
  background-color: hsla(0, 0%, 0%, 0.801);
  height: 30vh;
  width: 40vh;
  border-radius: 25px;
  margin: 250px 80px 60px 100px;
  font-family: eunomia;
  color: white;
  padding-left: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  grid-area: cuadrado2;
}
.grid .section-quince .section-catorce h3 {
  font-family: couture;
  font-size: 25px;
  margin-top: 15px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.grid .section-quince .section-catorce a {
  font-family: couture;
  color: white;
  margin-top: 200px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.section-diecisiete {
  background-color: hsla(0, 0%, 0%, 0.801);
  height: 60vh;
  width: 70vh;
  border-radius: 25px;
  margin: 120px 50px 60px 100px;
}
.section-diecisiete h1 {
  font-family: heavitas;
  font-size: 50px;
  color: white;
  margin-top: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.section-diecisiete h2 {
  font-family: couture;
  font-size: 30px;
  color: white;
  margin-top: 25px;
  margin-bottom: 70px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.section-diecisiete label {
  font-family: eunomia;
  font-size: 25px;
  color: white;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.section-diecisiete a {
  font-family: couture;
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin-top: 100px;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}

.section-diecinueve {
  background-color: hsla(0, 0%, 0%, 0.801);
  height: 60vh;
  width: 100vh;
  border-radius: 25px;
  margin: 120px 50px 60px 100px;
}
.section-diecinueve .grid-2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "titulo2 titulo2 titulo2" "mes1 mes2 mes3";
}
.section-diecinueve h1 {
  font-family: heavitas;
  font-size: 50px;
  color: white;
  margin-top: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  grid-area: titulo;
}
.section-diecinueve h2 {
  font-family: couture;
  color: white;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  grid-area: titulo2;
}
.section-diecinueve .servicio-1 a {
  font-family: couture;
  color: white;
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  grid-area: mes1;
}
.section-diecinueve .servicio-2 a {
  font-family: couture;
  color: white;
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  grid-area: mes2;
}
.section-diecinueve .servicio-3 a {
  font-family: couture;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  grid-area: mes3;
}
.section-diecinueve h3 {
  font-family: couture;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.section-diecinueve .lista {
  font-family: couture;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
