/*SERVICIOS*/

.grid-2{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "titulo titulo titulo"
    "titulo2 titulo2 titulo2"
    "mes1 mes2 mes3"
    
}

.section-diecinueve{
    background-color: hsla(0, 0%, 0%, 0.801);
    height: 60vh;
    width: 100vh;
    border-radius: 25px;
    margin: 120px 50px 60px 100px;
}

.section-diecinueve h1{
    font-family: heavitas;
    font-size: 50px;
    color: white;
    margin-top: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    grid-area: titulo;
}

.section-diecinueve h2{
    font-family: couture;
    color: white;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    grid-area: titulo2;
}

.servicio-1 a{
    font-family: couture;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    grid-area: mes1 ;
}
.servicio-2 a{
    font-family: couture;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    grid-area: mes2 ;
}

.servicio-3 a{
    font-family: couture;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    grid-area: mes3;
    
}

.section-diecinueve h3{
    font-family: couture;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.lista{
    font-family: couture;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
}