@media (max-width:768px){
    header{
        background-color: rgba(0, 0, 0, 0.85);
        width: 100%;
        height: 90px;
        top: 0;
        display: flex;
        flex-direction: column;
    }
    
    .section{
        color: white;
        display: flex;
        justify-content: center;

    }
    .section-uno img{
        display: flex;
        width: 40px;
        padding: 5px;
    }
    
    .section-dos img{
        width: 100px;
        margin-left: 5px;
        margin-top: 15px;
    }
    
    .barra-nav a{
        color: white;
        font-family: couture;
        text-decoration: none;
        padding-left: 15px;
        padding-right: 10px;
        
    }
    
    .barra-nav-division{
        list-style:none;
        margin-top: 1px;
        display: flex;
        justify-content: center;
    }

    /*cuerpo*/
    
.section-tres{
        background-color: hsla(0, 0%, 0%, 0.801);
        height: 60%;
        width: 70%;
        border-radius: 25px;
        margin: 65px 50px 60px 35px;
        position: fixed;
}
.section-tres h1{
    color: white;
    font-size: 200%;
    font-family: heavitas;
    padding-top: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.section-tres h2{
    font-family: couture;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.section-tres div a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    position:fixed;
    margin-top: 30px;
    height: 8%;
    width: 40%;
    border-radius: 15px;
    font-family: couture;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

/*pie de pagina*/

footer{
    background-color: hsla(0, 0%, 0%, 0.85);
    height: 90px;
    width: 100%;
    position:fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.section-2{
    display: flex;
    justify-content: center;
}
.section-cuatro img{
    width: 40px;
    padding: 5px;
    display: flex;
}

.section-cinco img{
    width: 100px;
    margin-bottom: 15px;
    display: flex;
}

.section-3{
    display: flex;
    gap: 15px;
    padding-right: 15px;
    justify-content: center;
}

.section-seis img{
    width: 20px;
     margin-bottom: 8px;
}

.section-siete img{
    width: 20px;
     margin-bottom: 8px;
}

.section-ocho img{
    width: 20px;
     margin-bottom: 8px;
}

.section-nueve h3{
    color: white;
    font-family: eunomia;
    margin-bottom: 15px;
    font-size: 15px;
    margin-bottom: 12px;
}

.section-nueve-2 h3{
    color: white;
    font-family: eunomia;
    margin-bottom: 15px;
    font-size: 15px;
    margin-bottom: 12px;
}

.section-nueve-3 h3{
    color: white;
    font-family: eunomia;
    margin-bottom: 15px;
    font-size: 15px;
    margin-bottom: 12px;
}

    /*inicio sesion*/
    .section-4{
        background-color: hsla(0, 0%, 0%, 0.801);
        height: 60%;
        width: 70%;
        border-radius: 25px;
        margin: 100px 50px 60px 110px;
        position: fixed;
    }

    .section-trece a{
        background-color: rgb(255, 255, 255);
        position: absolute;
        font-family: couture;
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        border-radius: 15px;
        left: 34%;
        height: 50px;
        width: 250px;
        position: fixed;
    }


/* MENU PERFIL */

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "cuadrado1 none none cuadrado2"
    ;
}

.section-6{
    background-color: hsla(0, 0%, 0%, 0.801);
    height: 70%;
    width: 55%;
    border-radius: 25px;
    margin: 40px 50px 60px 40px;
    grid-area: cuadrado1 ;
    position:fixed;
}

.section-6 div{
    font-family: eunomia;
    font-size: 80%;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.section-6 h1{
    font-family: heavitas;
    font-size: 200%;
    color: white;
    margin-top: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
} 

.section-6 h2{
    font-family: couture;
    font-size: 100%;
    color: white;
    padding: 5px;
    margin-left: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
}

.section-6 h4{
    font-family: couture;
    color: white;
    font-size: 90%;
    margin: 5px;
    margin-top: 65px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.section-catorce h3{
    font-family: couture;
    font-size: 80%;
    margin-top: 15px;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}


.section-catorce a{
    font-family: couture;
    font-size: 40%;
    color: white;
    margin-top: 100px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}

.section-quince {
    background-color: hsla(0, 0%, 0%, 0.801);
    height: 35%;
    width: 50%;
    border-radius: 25px;
    margin: 260px 150px 60px 90px;
    font-family: eunomia;
    color: white;
    padding-left: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    grid-area: cuadrado2;
    
}


}