@media (max-width:1440px){
    .section-4{
        background-color: hsla(0, 0%, 0%, 0.801);
        height: 60%;
        width: 50%;
        border-radius: 25px;
        margin: 100px 50px 60px 100px;
        position: fixed;
        h1{
            font-family: heavitas;
            color: white;
            font-size: 200%;
            padding-left: 5px;
            margin-top: 55px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
        }
        h2{
            font-family: couture;
            color: white;
            font-size: 20px;
            padding-left: 5px;
            padding-top: 25px;
            padding-bottom: 15px;
            text-transform: uppercase;
            display: flex;
            justify-content: center; 
        }
        .section-once{
            font-family: eunomia;
            font-size: 25px;
            color: white;
            padding-left: 5px;
            margin-right: 33px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            margin-top: 55px;
        }
        .section-doce{
            font-family: eunomia;
            font-size: 25px;
            color: white;
            padding-left: 5px;
            margin-right: 5px; 
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .section-trece a{
            background-color: rgb(255, 255, 255);
            position: absolute;
            font-family: couture;
            font-size: 30px;
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 5px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            margin-top: 40px;
            border-radius: 15px;
            left: 22%;
            height: 50px;
            width: 250px;
            position: fixed;
        }
        .section-trece-2 a{
            font-family: couture;
            font-size: 20px;
            color: white;
            text-decoration: none;
            padding: 5px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }
    }
                     /*menu perfil*/
                     .grid{
                        display: grid;
                        width: 100%;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-template-areas: 
                        "cuadrado1 none none cuadrado2"
                        ;
                        .section-6{
                            background-color: hsla(0, 0%, 0%, 0.801);
                            height: 60vh;
                            width: 60vh;
                            border-radius: 25px;
                            margin: 120px 50px 60px 80px;
                            grid-area: cuadrado1 ;
                            position: absolute;

                            div{
                                font-family: eunomia;
                                font-size: 25px;
                                color: white;
                                text-decoration: none;
                                margin: 5px;
                                text-transform: uppercase;
                                display: flex;
                                justify-content: center;
                            }
                            h1{
                                font-family: heavitas;
                                font-size: 50px;
                                color: white;
                                margin-top: 15px;
                                padding: 2px;
                                text-transform: uppercase;
                                display: flex;
                                justify-content: center;
                            }
                            h2{
                                font-family: couture;
                                font-size: 30px;
                                color: white;
                                padding: 5px;
                                margin-left: 25px;
                                text-transform: uppercase;
                                display: flex;
                                justify-content: start;
                            }
                            h4{
                                font-family: couture;
                                color: white;
                                margin: 5px;
                                margin-top: 65px;
                                text-transform: uppercase;
                                display: flex;
                                justify-content: center;
                            }
                         }
                         .section-quince{
                            background-color: hsla(0, 0%, 0%, 0.801);
                            height: 30vh;
                            width: 40vh;
                            border-radius: 25px;
                            margin: 250px 40px 60px 100px;
                            font-family: eunomia;
                            color: white;
                            padding-left: 5px;
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            grid-area: cuadrado2;
                            
                            .section-catorce h3{
                                font-family: couture;
                                font-size: 25px;
                                margin-top: 15px;
                                color: white;
                                text-transform: uppercase;
                                display: flex;
                                justify-content: center;
                            }
                            
                            
                            
                            .section-catorce a{
                                font-family: couture;
                                color: white;
                                margin-top: 180px;
                                text-transform: uppercase;
                                display: flex;
                                justify-content: center;
                                text-decoration: none;
                            }
                         }
                    
                    }

    /*registrarse*/
.section-diecisiete{
    background-color: hsla(0, 0%, 0%, 0.801);
    height: 60vh;
    width: 70vh;
    border-radius: 25px;
    margin: 120px 50px 60px 100px;
    h1{
        font-family: heavitas;
        font-size: 50px;
        color: white;
        margin-top: 15px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    h2{
        font-family: couture;
        font-size: 30px;
        color: white;
        margin-top: 25px;
        margin-bottom: 70px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    label{
        font-family: eunomia;
        font-size: 25px;
        color: white;
        margin-top: 15px;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    a{
        font-family: couture;
        font-size: 25px;
        color: white;
        text-decoration: none;
        margin-top: 100px;
        display: flex;
        text-transform: uppercase;
        justify-content: center;
    }
}
}