@font-face {
    font-family: heavitas;
    src: url(../assets/fuentes/Heavitas.ttf);
}
@font-face {
    font-family: couture;
    src: url(../assets/fuentes/couture-bld.otf);
}

@font-face {
    font-family: eunomia;
    src: url(../assets/fuentes/Eunomia-Light.otf);
}
